<!DOCTYPE html>
<html>
  <head>
    <title>web-hybrid-socket-example</title>
    <style>
      canvas {
        width: 600px;
        height: 400px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Demo</h1>
    <p>
      Try opening this page in multiple browser windows. The cursor positions of
      all connected clients within the canvas are synced using WebRTC (UDP) with
      the server acting as a central peer for all clients. The list of players
      is synced using a WebSocket (TCP) connection.
    </p>
    <canvas></canvas>
    <h2>Players</h2>
    <table id="players">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>
