html,
body,
h2 {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html,
canvas {
  height: 100%;
}

body {
  background: #f5f5f5;
}

canvas {
  position: absolute;
  display: block;
  width: 100%;
}

a,
a:visited,
a:focus {
  color: #1565c0;
  text-decoration: none;
}

a:hover {
  color: #003c8f;
  text-decoration: underline;
}

main,
footer {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 1rem;
}

main {
  min-height: 100%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1200px;
}

footer {
  text-align: center;
  background: #eeeeee;
  color: #e0e0e0;
  min-height: 128px;
  border-top: 1px solid #e0e0e0;
}

footer a {
  margin-right: 1.5rem;
}

footer a:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 720px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

table,
th,
td {
  border: 1px solid #e0e0e0;
}

table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  background: #f5f5f5;
}

th,
td {
  padding: 0.75rem;
}

.box {
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}
